body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:#042331;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  margin-right: 20px;
  transition: 0.5s;
  border-top: 2px solid rgba(255,255,255,.1);
  border-bottom: 2px solid black;
}
.sidenav a i{
  margin-right: 16px;
}
.sidenav a,i:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 170px;
  font-size: 36px;
  margin-left: 50px;
}
.logo{
  position: absolute;
  height: 85px;
  top: 12px;
  left: 5px;
  font-size: 18px;
  border-radius: 50%;
  opacity: 0.8;
   }
   #menu{
    position: absolute;
    top: 20px;
    left:24px;

   }
 section h1{ padding-top: 380px;
  color:#cc3300;
  font-size: 73px;
  margin-left: 5%;
  font-weight: bolder;

}
section h6{
  padding-top: -10px;
  margin-left: 5%;
  font-size: 30px;
  color:#cc3300;
  font-weight: bold;
}
#donation{
  position: absolute;
padding: 10px 10px 10px 10px;
font-size: 150%;
font-weight: bolder;
margin-left: 35%;
top:550px;

}
